In [120]:
#Imports
import pandas as pd
import numpy as np
from sklearn.preprocessing import normalize, OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score, cross_validate, GridSearchCV
from sklearn.dummy import DummyRegressor
from sklearn.metrics import mean_squared_error, accuracy_score
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import statsmodels.api as sm

In [11]:
df = pd.read_csv('students_mental_health_survey.csv')

In [12]:
df.head()

,Age,Course,Gender,CGPA,Stress_Level,Depression_Score,Anxiety_Score,Sleep_Quality,Physical_Activity,Diet_Quality,Social_Support,Relationship_Status,Substance_Use,Counseling_Service_Use,Family_History,Chronic_Illness,Financial_Stress,Extracurricular_Involvement,Semester_Credit_Load,Residence_Type
0,25,Others,Male,3.56,3,3,2,Good,Moderate,Good,Moderate,Married,Never,Never,No,No,2,Moderate,17,On-Campus
1,24,Engineering,Female,2.44,0,3,0,Average,Low,Average,Low,Single,Occasionally,Occasionally,No,No,3,Low,27,On-Campus
2,19,Business,Female,3.74,4,0,3,Good,Low,Average,Moderate,In a Relationship,Never,Occasionally,No,No,4,High,15,On-Campus
3,19,Computer Science,Male,3.65,2,1,0,Average,Low,Average,Moderate,Single,NaN,Never,No,No,4,Moderate,20,Off-Campus
4,18,Business,Male,3.40,3,3,4,Good,Low,Average,High,Married,Never,Never,No,Yes,0,High,23,On-Campus

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7022 entries, 0 to 7021
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          7022 non-null   int64
 1   Course                       7022 non-null   object
 2   Gender                       7022 non-null   object
 3   CGPA                         7010 non-null   float64
 4   Stress_Level                 7022 non-null   int64
 5   Depression_Score             7022 non-null   int64
 6   Anxiety_Score                7022 non-null   int64
 7   Sleep_Quality                7022 non-null   object
 8   Physical_Activity            7022 non-null   object
 9   Diet_Quality                 7022 non-null   object
 10  Social_Support               7022 non-null   object
 11  Relationship_Status          7022 non-null   object
 12  Substance_Use                7007 non-null   object
 13  Counseling_Service_Use       7022 non-null   object
 14  Family_History               7022 non-null   object
 15  Chronic_Illness              7022 non-null   object
 16  Financial_Stress             7022 non-null   int64
 17  Extracurricular_Involvement  7022 non-null   object
 18  Semester_Credit_Load         7022 non-null   int64
 19  Residence_Type               7022 non-null   object
dtypes: float64(1), int64(6), object(13)
memory usage: 1.1+ MB

In [14]:
df.describe()

,Age,CGPA,Stress_Level,Depression_Score,Anxiety_Score,Financial_Stress,Semester_Credit_Load
count,7022.000000,7010.00000,7022.000000,7022.000000,7022.000000,7022.000000,7022.000000
mean,23.003418,3.49127,2.427941,2.254486,2.300484,2.453005,22.010538
std,3.853978,0.28742,1.638408,1.625193,1.624305,1.708995,4.358380
min,18.000000,2.44000,0.000000,0.000000,0.000000,0.000000,15.000000
25%,20.000000,3.29000,1.000000,1.000000,1.000000,1.000000,18.000000
50%,22.000000,3.50000,2.000000,2.000000,2.000000,2.000000,22.000000
75%,25.000000,3.70000,4.000000,3.000000,4.000000,4.000000,26.000000
max,35.000000,4.00000,5.000000,5.000000,5.000000,5.000000,29.000000

In [15]:
# There are a total of 27 rows with null values so decided to drop all 27 rows. 
df.dropna(inplace=True)

In [69]:
df.reset_index(inplace=True)

In [70]:
df

,index,Age,Course,Gender,CGPA,Stress_Level,Depression_Score,Anxiety_Score,Sleep_Quality,Physical_Activity,...,Social_Support,Relationship_Status,Substance_Use,Counseling_Service_Use,Family_History,Chronic_Illness,Financial_Stress,Extracurricular_Involvement,Semester_Credit_Load,Residence_Type
0,0,25,Others,Male,3.56,3,3,2,Good,Moderate,...,Moderate,Married,Never,Never,No,No,2,Moderate,17,On-Campus
1,1,24,Engineering,Female,2.44,0,3,0,Average,Low,...,Low,Single,Occasionally,Occasionally,No,No,3,Low,27,On-Campus
2,2,19,Business,Female,3.74,4,0,3,Good,Low,...,Moderate,In a Relationship,Never,Occasionally,No,No,4,High,15,On-Campus
3,4,18,Business,Male,3.40,3,3,4,Good,Low,...,High,Married,Never,Never,No,Yes,0,High,23,On-Campus
4,5,21,Medical,Female,3.35,2,4,3,Good,Moderate,...,High,Single,Never,Never,No,No,5,Moderate,19,Off-Campus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6990,7016,20,Law,Female,3.33,1,1,1,Average,Low,...,Moderate,In a Relationship,Never,Occasionally,No,No,3,Moderate,29,Off-Campus
6991,7017,20,Law,Female,3.69,3,1,5,Good,Low,...,High,Single,Never,Frequently,Yes,No,1,High,26,Off-Campus
6992,7018,24,Medical,Female,3.73,3,4,1,Good,Moderate,...,High,Single,Never,Occasionally,No,No,3,Low,15,Off-Campus
6993,7019,26,Others,Male,3.65,4,5,1,Good,High,...,Moderate,Married,Never,Occasionally,No,Yes,4,Moderate,17,Off-Campus
6994,7020,24,Medical,Male,3.65,4,3,4,Average,High,...,Moderate,Single,Never,Never,No,Yes,4,Moderate,18,Off-Campus

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6995 entries, 0 to 7020
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          6995 non-null   int64
 1   Course                       6995 non-null   object
 2   Gender                       6995 non-null   object
 3   CGPA                         6995 non-null   float64
 4   Stress_Level                 6995 non-null   int64
 5   Depression_Score             6995 non-null   int64
 6   Anxiety_Score                6995 non-null   int64
 7   Sleep_Quality                6995 non-null   object
 8   Physical_Activity            6995 non-null   object
 9   Diet_Quality                 6995 non-null   object
 10  Social_Support               6995 non-null   object
 11  Relationship_Status          6995 non-null   object
 12  Substance_Use                6995 non-null   object
 13  Counseling_Service_Use       6995 non-null   object
 14  Family_History               6995 non-null   object
 15  Chronic_Illness              6995 non-null   object
 16  Financial_Stress             6995 non-null   int64
 17  Extracurricular_Involvement  6995 non-null   object
 18  Semester_Credit_Load         6995 non-null   int64
 19  Residence_Type               6995 non-null   object
dtypes: float64(1), int64(6), object(13)
memory usage: 1.1+ MB

In [20]:
df['Sleep_Quality'].value_counts()

Good       3579
Average    2721
Poor        695
Name: Sleep_Quality, dtype: int64

In [22]:
df['Physical_Activity'].value_counts()

Moderate    3505
Low         2085
High        1405
Name: Physical_Activity, dtype: int64

In [23]:
df['Diet_Quality'].value_counts()

Average    4253
Good       1379
Poor       1363
Name: Diet_Quality, dtype: int64

In [24]:
df['Social_Support'].value_counts()

Moderate    3457
High        2165
Low         1373
Name: Social_Support, dtype: int64

In [25]:
df['Relationship_Status'].value_counts()

Single               3562
In a Relationship    2069
Married              1364
Name: Relationship_Status, dtype: int64

In [26]:
df['Substance_Use'].value_counts()

Never           5894
Occasionally     697
Frequently       404
Name: Substance_Use, dtype: int64

In [27]:
df['Counseling_Service_Use'].value_counts()

Never           4250
Occasionally    2069
Frequently       676
Name: Counseling_Service_Use, dtype: int64

In [28]:
df['Family_History'].value_counts()

No     4844
Yes    2151
Name: Family_History, dtype: int64

In [29]:
df['Chronic_Illness'].value_counts()

No     6652
Yes     343
Name: Chronic_Illness, dtype: int64

In [30]:
df['Financial_Stress'].value_counts()

0    1225
1    1181
2    1168
4    1156
3    1152
5    1113
Name: Financial_Stress, dtype: int64

In [31]:
df['Extracurricular_Involvement'].value_counts()

Moderate    3426
Low         2157
High        1412
Name: Extracurricular_Involvement, dtype: int64

In [32]:
df['Semester_Credit_Load'].value_counts()

27    511
17    506
28    490
15    471
18    467
19    466
16    465
24    463
29    460
25    458
26    455
22    455
23    446
21    443
20    439
Name: Semester_Credit_Load, dtype: int64

In [41]:
df['Age'].value_counts()

21    776
18    735
20    721
19    708
22    690
23    637
24    537
26    454
25    454
27    323
28    257
29    188
30    162
31    124
32     98
33     55
34     45
35     31
Name: Age, dtype: int64

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6995 entries, 0 to 7020
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          6995 non-null   int64
 1   Course                       6995 non-null   object
 2   Gender                       6995 non-null   object
 3   CGPA                         6995 non-null   float64
 4   Stress_Level                 6995 non-null   int64
 5   Depression_Score             6995 non-null   int64
 6   Anxiety_Score                6995 non-null   int64
 7   Sleep_Quality                6995 non-null   object
 8   Physical_Activity            6995 non-null   object
 9   Diet_Quality                 6995 non-null   object
 10  Social_Support               6995 non-null   object
 11  Relationship_Status          6995 non-null   object
 12  Substance_Use                6995 non-null   object
 13  Counseling_Service_Use       6995 non-null   object
 14  Family_History               6995 non-null   object
 15  Chronic_Illness              6995 non-null   object
 16  Financial_Stress             6995 non-null   int64
 17  Extracurricular_Involvement  6995 non-null   object
 18  Semester_Credit_Load         6995 non-null   int64
 19  Residence_Type               6995 non-null   object
dtypes: float64(1), int64(6), object(13)
memory usage: 1.1+ MB

## One Hot Encode Data

In [124]:
categorical = ['Course', 'Gender', 'Stress_Level', 'Depression_Score', 'Anxiety_Score','Sleep_Quality', 
               'Physical_Activity', 'Diet_Quality', 'Social_Support','Relationship_Status', 'Substance_Use', 
               'Counseling_Service_Use', 'Family_History', 'Chronic_Illness','Extracurricular_Involvement', 
               'Residence_Type']

ohe = OneHotEncoder(drop='first')
ohe.fit(df[categorical])

categorical_encoded = pd.DataFrame(ohe.transform(df[categorical]).todense(),
                               columns=ohe.get_feature_names())

In [72]:
categorical_encoded

,x0_Computer Science,x0_Engineering,x0_Law,x0_Medical,x0_Others,x1_Male,x2_1,x2_2,x2_3,x2_4,...,x10_Never,x10_Occasionally,x11_Never,x11_Occasionally,x12_Yes,x13_Yes,x14_Low,x14_Moderate,x15_On-Campus,x15_With Family
0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6990,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
6991,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6992,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
6993,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
6994,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [93]:
scaler = StandardScaler()
scaler.fit_transform(df[['Age', 'Semester_Credit_Load']])

array([[ 0.51774508, -1.14924459],
       [ 0.25840911,  1.14419541],
       [-1.03827075, -1.60793259],
       ...,
       [ 0.25840911, -1.60793259],
       [ 0.77708105, -1.14924459],
       [ 0.25840911, -0.91990059]])

In [85]:
# Merge continuous and categorical columns
features_df = categorical_encoded.merge(df[['Age', 'Semester_Credit_Load']], how='inner', 
                                        left_index=True, right_index=True)
features_df

,x0_Computer Science,x0_Engineering,x0_Law,x0_Medical,x0_Others,x1_Male,x2_1,x2_2,x2_3,x2_4,...,x11_Never,x11_Occasionally,x12_Yes,x13_Yes,x14_Low,x14_Moderate,x15_On-Campus,x15_With Family,Age,Semester_Credit_Load
0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,25,17
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,24,27
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,19,15
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,18,23
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,21,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6990,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,20,29
6991,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,20,26
6992,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,24,15
6993,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,26,17
6994,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,24,18

,x0_Computer Science,x0_Engineering,x0_Law,x0_Medical,x0_Others,x1_Male,x2_1,x2_2,x2_3,x2_4,...,x11_Never,x11_Occasionally,x12_Yes,x13_Yes,x14_Low,x14_Moderate,x15_On-Campus,x15_With Family,Age,Semester_Credit_Load
0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,25,17
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,24,27
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,19,15
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,18,23
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,21,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6990,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,20,29
6991,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,20,26
6992,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,24,15
6993,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,26,17
6994,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,24,18

## Preprocessing Data

In [122]:
# Define which columns are categorical and continuous
categorical_cols = ['Course', 'Gender', 'Stress_Level', 'Depression_Score', 'Anxiety_Score','Sleep_Quality', 
               'Physical_Activity', 'Diet_Quality', 'Social_Support','Relationship_Status', 'Substance_Use', 
               'Counseling_Service_Use', 'Family_History', 'Chronic_Illness','Extracurricular_Involvement', 
               'Residence_Type']
continuous_cols = ['Age', 'Semester_Credit_Load']

# Create a column transformer for preprocessing
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), continuous_cols),  # Scale continuous variables
        ('cat', OneHotEncoder(), categorical_cols)    # One-hot encode categorical variables
    ])

# Create a pipeline that applies the preprocessing steps
preprocess_pipeline = Pipeline(steps=[('preprocessor', preprocessor)])

# Transform the data
transformed_data = preprocess_pipeline.fit_transform(df)

In [103]:
# You can obtain the column names for the one-hot encoded categorical variables from the one-hot encoder
categorical_encoder = preprocess_pipeline.named_steps['preprocessor'].named_transformers_['cat']
one_hot_feature_names = categorical_encoder.get_feature_names(input_features=categorical_cols)

# Combine the one-hot encoded features with the scaled continuous variables
all_feature_names = list(continuous_cols) + list(one_hot_feature_names)

# Create a DataFrame using the transformed data and feature names
transformed_df = pd.DataFrame(transformed_data, columns=all_feature_names)

In [109]:
transformed_df['Age']

0       0.517745
1       0.258409
2      -1.038271
3      -1.297607
4      -0.519599
          ...
6990   -0.778935
6991   -0.778935
6992    0.258409
6993    0.777081
6994    0.258409
Name: Age, Length: 6995, dtype: float64

## Train_Test_Split

In [114]:
X = transformed_df
y = df['CGPA']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=333)

In [115]:
X_train

,Age,Semester_Credit_Load,Course_Business,Course_Computer Science,Course_Engineering,Course_Law,Course_Medical,Course_Others,Gender_Female,Gender_Male,...,Family_History_No,Family_History_Yes,Chronic_Illness_No,Chronic_Illness_Yes,Extracurricular_Involvement_High,Extracurricular_Involvement_Low,Extracurricular_Involvement_Moderate,Residence_Type_Off-Campus,Residence_Type_On-Campus,Residence_Type_With Family
4575,-0.519599,-1.149245,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
109,-0.000927,-1.378589,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
302,-0.260263,-0.461213,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
4528,0.258409,1.602883,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
4380,0.777081,1.373539,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5494,-0.260263,-0.690557,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
6067,0.517745,-1.378589,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1443,0.517745,-1.149245,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
973,-0.000927,-0.002525,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
5900,-0.260263,-0.002525,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0

## Dummy Model Classifier

## Dummy Model Regressor

In [116]:
# Instantiate dummy model that will always predict majority class
dummy_model = DummyRegressor(strategy="mean")
dummy_model.fit(X_train, y_train)
y_pred = dummy_model.predict(X_train)

mean_squared_error(y_train, y_pred)

0.0823131812644792

In [117]:
scores = cross_val_score(dummy_model, X_train, y_train, scoring='neg_mean_squared_error')

# Calculate the mean and standard deviation of the scores
mean_score = -scores.mean()
std_score = scores.std()

print(f'Mean Squared Error (MSE) across {5}-fold CV: {mean_score:.2f}')
print(f'Standard Deviation of MSE: {std_score:.2f}')

Mean Squared Error (MSE) across 5-fold CV: 0.08
Standard Deviation of MSE: 0.00

### Identifying Highly Correlated Predictor

In [121]:
model = sm.OLS(endog=y, exog=sm.add_constant(X)).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   CGPA   R-squared:                       0.006
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.9601
Date:                Mon, 18 Sep 2023   Prob (F-statistic):              0.546
Time:                        11:21:12   Log-Likelihood:                -1181.4
No. Observations:                6995   AIC:                             2451.
Df Residuals:                    6951   BIC:                             2752.
Df Model:                          43
Covariance Type:            nonrobust
=========================================================================================================
                                            coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------
const                                  1.283e+09   5.84e+09      0.220      0.826   -1.02e+10    1.27e+10
Age                                       0.0045      0.003      1.321      0.187      -0.002       0.011
Semester_Credit_Load                     -0.0010      0.003     -0.299      0.765      -0.008       0.006
Course_Business                        -1.51e+09   6.87e+09     -0.220      0.826    -1.5e+10     1.2e+10
Course_Computer Science                -1.51e+09   6.87e+09     -0.220      0.826    -1.5e+10     1.2e+10
Course_Engineering                     -1.51e+09   6.87e+09     -0.220      0.826    -1.5e+10     1.2e+10
Course_Law                             -1.51e+09   6.87e+09     -0.220      0.826    -1.5e+10     1.2e+10
Course_Medical                         -1.51e+09   6.87e+09     -0.220      0.826    -1.5e+10     1.2e+10
Course_Others                          -1.51e+09   6.87e+09     -0.220      0.826    -1.5e+10     1.2e+10
Gender_Female                          7.808e+09   3.55e+10      0.220      0.826   -6.18e+10    7.74e+10
Gender_Male                            7.808e+09   3.55e+10      0.220      0.826   -6.18e+10    7.74e+10
Stress_Level_0                        -1.501e+09   6.83e+09     -0.220      0.826   -1.49e+10    1.19e+10
Stress_Level_1                        -1.501e+09   6.83e+09     -0.220      0.826   -1.49e+10    1.19e+10
Stress_Level_2                        -1.501e+09   6.83e+09     -0.220      0.826   -1.49e+10    1.19e+10
Stress_Level_3                        -1.501e+09   6.83e+09     -0.220      0.826   -1.49e+10    1.19e+10
Stress_Level_4                        -1.501e+09   6.83e+09     -0.220      0.826   -1.49e+10    1.19e+10
Stress_Level_5                        -1.501e+09   6.83e+09     -0.220      0.826   -1.49e+10    1.19e+10
Depression_Score_0                    -1.509e+09   6.86e+09     -0.220      0.826    -1.5e+10    1.19e+10
Depression_Score_1                    -1.509e+09   6.86e+09     -0.220      0.826    -1.5e+10    1.19e+10
Depression_Score_2                    -1.509e+09   6.86e+09     -0.220      0.826    -1.5e+10    1.19e+10
Depression_Score_3                    -1.509e+09   6.86e+09     -0.220      0.826    -1.5e+10    1.19e+10
Depression_Score_4                    -1.509e+09   6.86e+09     -0.220      0.826    -1.5e+10    1.19e+10
Depression_Score_5                    -1.509e+09   6.86e+09     -0.220      0.826    -1.5e+10    1.19e+10
Anxiety_Score_0                         -1.5e+09   6.82e+09     -0.220      0.826   -1.49e+10    1.19e+10
Anxiety_Score_1                         -1.5e+09   6.82e+09     -0.220      0.826   -1.49e+10    1.19e+10
Anxiety_Score_2                         -1.5e+09   6.82e+09     -0.220      0.826   -1.49e+10    1.19e+10
Anxiety_Score_3                         -1.5e+09   6.82e+09     -0.220      0.826   -1.49e+10    1.19e+10
Anxiety_Score_4                         -1.5e+09   6.82e+09     -0.220      0.826   -1.49e+10    1.19e+10
Anxiety_Score_5                         -1.5e+09   6.82e+09     -0.220      0.826   -1.49e+10    1.19e+10
Sleep_Quality_Average                 -4.312e+09   1.96e+10     -0.220      0.826   -4.27e+10    3.41e+10
Sleep_Quality_Good                    -4.312e+09   1.96e+10     -0.220      0.826   -4.27e+10    3.41e+10
Sleep_Quality_Poor                    -4.312e+09   1.96e+10     -0.220      0.826   -4.27e+10    3.41e+10
Physical_Activity_High                 2.785e+08   1.27e+09      0.220      0.826    -2.2e+09    2.76e+09
Physical_Activity_Low                  2.785e+08   1.27e+09      0.220      0.826    -2.2e+09    2.76e+09
Physical_Activity_Moderate             2.785e+08   1.27e+09      0.220      0.826    -2.2e+09    2.76e+09
Diet_Quality_Average                   8.056e+09   3.66e+10      0.220      0.826   -6.38e+10    7.99e+10
Diet_Quality_Good                      8.056e+09   3.66e+10      0.220      0.826   -6.38e+10    7.99e+10
Diet_Quality_Poor                      8.056e+09   3.66e+10      0.220      0.826   -6.38e+10    7.99e+10
Social_Support_High                    1.113e+09   5.06e+09      0.220      0.826   -8.81e+09     1.1e+10
Social_Support_Low                     1.113e+09   5.06e+09      0.220      0.826   -8.81e+09     1.1e+10
Social_Support_Moderate                1.113e+09   5.06e+09      0.220      0.826   -8.81e+09     1.1e+10
Relationship_Status_In a Relationship  -5.57e+09   2.53e+10     -0.220      0.826   -5.52e+10    4.41e+10
Relationship_Status_Married            -5.57e+09   2.53e+10     -0.220      0.826   -5.52e+10    4.41e+10
Relationship_Status_Single             -5.57e+09   2.53e+10     -0.220      0.826   -5.52e+10    4.41e+10
Substance_Use_Frequently               -1.66e+09   7.55e+09     -0.220      0.826   -1.65e+10    1.31e+10
Substance_Use_Never                    -1.66e+09   7.55e+09     -0.220      0.826   -1.65e+10    1.31e+10
Substance_Use_Occasionally             -1.66e+09   7.55e+09     -0.220      0.826   -1.65e+10    1.31e+10
Counseling_Service_Use_Frequently      6.203e+09   2.82e+10      0.220      0.826   -4.91e+10    6.15e+10
Counseling_Service_Use_Never           6.203e+09   2.82e+10      0.220      0.826   -4.91e+10    6.15e+10
Counseling_Service_Use_Occasionally    6.203e+09   2.82e+10      0.220      0.826   -4.91e+10    6.15e+10
Family_History_No                     -8.427e+09   3.83e+10     -0.220      0.826   -8.36e+10    6.67e+10
Family_History_Yes                    -8.427e+09   3.83e+10     -0.220      0.826   -8.36e+10    6.67e+10
Chronic_Illness_No                     4.654e+09   2.12e+10      0.220      0.826   -3.68e+10    4.61e+10
Chronic_Illness_Yes                    4.654e+09   2.12e+10      0.220      0.826   -3.68e+10    4.61e+10
Extracurricular_Involvement_High      -3.413e+08   1.55e+09     -0.220      0.826   -3.38e+09     2.7e+09
Extracurricular_Involvement_Low       -3.413e+08   1.55e+09     -0.220      0.826   -3.38e+09     2.7e+09
Extracurricular_Involvement_Moderate  -3.413e+08   1.55e+09     -0.220      0.826   -3.38e+09     2.7e+09
Residence_Type_Off-Campus             -3.064e+09   1.39e+10     -0.220      0.826   -3.04e+10    2.43e+10
Residence_Type_On-Campus              -3.064e+09   1.39e+10     -0.220      0.826   -3.04e+10    2.43e+10
Residence_Type_With Family            -3.064e+09   1.39e+10     -0.220      0.826   -3.04e+10    2.43e+10
==============================================================================
Omnibus:                      126.161   Durbin-Watson:                   2.032
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               93.746
Skew:                          -0.189   Prob(JB):                     4.40e-21
Kurtosis:                       2.577   Cond. No.                     1.83e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.61e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [56]:
y_train.shape

(5246,)